<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    />
    <title>Document</title>
    <link rel="stylesheet" href="/static/CSS/style.css" />
  </head>
  <body>
    <div class="wrapper">
      <nav>
        <div class="photo">
          <img
            src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg"
            alt="profile_picture"
            width="100"
            height="100"
          />
          <p>{{admin}}</p>
        </div>
        <div class="nav_elements">
            <h1>ADMIN</h1>
          <a href="/studentprofile" class="active">
            <span class="icon"><i class="fas fa-desktop"></i></span>
            <span class="item">Profile</span>
          </a>
          <a href="/studentsubmit">
            <span class="icon"><i class="fas fa-user-friends"></i></span>
            <span class="item">register</span>
          </a>
          <a href="/register">
            <span class="icon"><i class="fas fa-user-shield"></i></span>
            <span class="item">Admin</span>
          </a>
          <a href="/">
            <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
            <span class="item">Logout</span>
          </a>
        </div>
      </nav>
      <div class="main_content" style="margin-left: 30%; margin-top: 40px; ;">
        <form action="/register" method="post">
          <label for="name"> USERNAME </label> <br>
          <input type="text" name="sname" id="sname"/> <br>
          <label for="email"> EMAIL </label><br>
          <input type="email" name="semail" id="semail"/> <br>
          <label for="username"> PASSWORD </label><br>
          <input type="text" name="spassword" id="susername"/> <br>
          <label for="role"> ROLE </label> <br>
          <select id="role" name="role"> <br>
            <option value="5"> SELECT </option>
            <option value="1"> STUDENT </option>
            <option value="2"> FACULTY </option>
            <option value="0"> NEW ADMIN </option>
          </select> <br>

          <button class="btn btn-primary" style="margin-top:20px;"> SUBMIT </button>

          <h2 style="margin-top:25px; text-align: justify;"> {{ msg }} </h2>
                  
        </form>          
      </div>
    </body>
    </html>